Source: ros-kinetic-grizzly-bringup
Section: misc
Priority: extra
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roslaunch
Homepage: http://wiki.ros.org/Robots/Grizzly
Standards-Version: 3.9.2

Package: ros-kinetic-grizzly-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-diagnostic-aggregator, ros-kinetic-grizzly-base, ros-kinetic-grizzly-description, ros-kinetic-microstrain-3dmgx2-imu, ros-kinetic-nmea-comms, ros-kinetic-nmea-navsat-driver, ros-kinetic-robot-upstart, ros-kinetic-rospy, ros-kinetic-rosserial-python, ros-kinetic-rosserial-server, ros-kinetic-um6
Description: Scripts for installing Grizzly's robot software.
