Source: ros-indigo-grizzly-bringup
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-grizzly-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-diagnostic-aggregator, ros-indigo-grizzly-base, ros-indigo-grizzly-description, ros-indigo-grizzly-motion, ros-indigo-grizzly-navigation, ros-indigo-grizzly-teleop, ros-indigo-nmea-comms, ros-indigo-nmea-navsat-driver, ros-indigo-robot-upstart, ros-indigo-roboteq-driver, ros-indigo-rospy, ros-indigo-rosserial-python, ros-indigo-rosserial-server, ros-indigo-um6
Description: Upstart setup and launch files for non-simulated Grizzly
