Source: ros-kinetic-grizzly-base
Section: misc
Priority: extra
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-diagnostic-updater, ros-kinetic-geometry-msgs, ros-kinetic-grizzly-motor-driver, ros-kinetic-grizzly-motor-msgs, ros-kinetic-grizzly-msgs, ros-kinetic-hardware-interface, ros-kinetic-realtime-tools, ros-kinetic-roscpp, ros-kinetic-roslaunch, ros-kinetic-roslint, ros-kinetic-rosserial-server, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-topic-tools
Homepage: http://wiki.ros.org/Robots/Grizzly
Standards-Version: 3.9.2

Package: ros-kinetic-grizzly-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-scipy, ros-kinetic-controller-manager, ros-kinetic-diagnostic-aggregator, ros-kinetic-diagnostic-updater, ros-kinetic-diff-drive-controller, ros-kinetic-geometry-msgs, ros-kinetic-grizzly-control, ros-kinetic-grizzly-description, ros-kinetic-grizzly-motor-driver, ros-kinetic-grizzly-motor-msgs, ros-kinetic-grizzly-msgs, ros-kinetic-imu-filter-madgwick, ros-kinetic-realtime-tools, ros-kinetic-rosserial-python, ros-kinetic-rosserial-server, ros-kinetic-sensor-msgs, ros-kinetic-tf, ros-kinetic-topic-tools, socat
Description: Grizzly's mobility and sensor base.
